{% extends "base.html" %} {% block title %}project{% endblock %} {% block
content %}
<head>
  <link rel="stylesheet" href="static/css/personal_progress.css" />
</head>

<body>
  <br />
  <div class="center">
    <img
      src="{{session['profile']['picture']}} "
      style="border-radius: 50%; box-shadow: 2px 2px 10px 5px #55555585"
    />
    <div class="center">{{session['profile']['nickname']}}</div>
  </div>
  {% from "_formhelpers.html" import render_field %}
  <div>
    <form action="{{ url_for('personal_progress')}}" method="POST">
      <div class="personalProgressForm">
        <label> Search by course: </label>
        {{ form.choose_course()}}
        <label> Search by date: </label>
        {{ form.pick_date(class='datepicker') }}
        <button type="submit" class="pure-button pure-button-primary">
          Submit
        </button>
      </div>
    </form>
    <div class="tableContainer">
      <table class="pure-table">
        <thead>
          <tr>
            <th>Date</th>
            <th>Course</th>
            <th>Score</th>
            <th>Strokes</th>
            <th>Action</th>
            <th></th>
          </tr>
        </thead>
        <tbody class="tableBody">
          {% for ele in result or search_result %}
          <tr>
            <td>{{ele[0]}}</td>
            <td>{{ele[1]}}</td>
            <td>{{ele[2]}}</td>
            <td>{{ele[3]}}</td>
            <td>
              <button
                name="submit_button"
                class="pure-button button-edit"
                value="edit"
              >
                <a href="{{url_for('edit_score', score_id=ele[4])}}">Edit</a>
              </button>
              <button
                name="submit_button"
                class="pure-button button-delete"
                value="delete"
              >
                <a href="{{url_for('delete_score', score_id=ele[4])}}"
                  >Delete</a
                >
              </button>
            </td>
          </tr>

          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="chart1">
    <canvas id="myChart" width="400" height="400"></canvas>
  </div>
  <div class="chart2">
    <canvas id="myChart1" width="400" height="400"></canvas>
  </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx = document.getElementById('myChart').getContext('2d');
  const myChart = new Chart(ctx, {
      type: 'line',
      data: {
          labels: {{dates|safe}},
          datasets: [{
              label: 'score',
              data: {{scores}},
              backgroundColor: [
                  'rgba(255, 99, 132, 0.2)',
                  'rgba(54, 162, 235, 0.2)',
                  'rgba(255, 206, 86, 0.2)',
                  'rgba(75, 192, 192, 0.2)',
                  'rgba(153, 102, 255, 0.2)',
                  'rgba(255, 159, 64, 0.2)'
              ],
              borderColor: [
                  'rgba(255, 99, 132, 1)',
                  'rgba(54, 162, 235, 1)',
                  'rgba(255, 206, 86, 1)',
                  'rgba(75, 192, 192, 1)',
                  'rgba(153, 102, 255, 1)',
                  'rgba(255, 159, 64, 1)'
              ],
              borderWidth: 1
          }]
      },
      options: {
          scales: {
              y: {
                  beginAtZero: true
              }
          }
      }
  });

  const ctx1 = document.getElementById('myChart1').getContext('2d');
  const myChart1 = new Chart(ctx1, {
      type: 'bar',
      data: {
          labels: {{dates|safe}},
          datasets: [{
              label: 'strokes',
              data: {{strokes}},
              backgroundColor: [
                  'rgba(255, 99, 132, 0.2)',
                  'rgba(54, 162, 235, 0.2)',
                  'rgba(255, 206, 86, 0.2)',
                  'rgba(75, 192, 192, 0.2)',
                  'rgba(153, 102, 255, 0.2)',
                  'rgba(255, 159, 64, 0.2)'
              ],
              borderColor: [
                  'rgba(255, 99, 132, 1)',
                  'rgba(54, 162, 235, 1)',
                  'rgba(255, 206, 86, 1)',
                  'rgba(75, 192, 192, 1)',
                  'rgba(153, 102, 255, 1)',
                  'rgba(255, 159, 64, 1)'
              ],
              borderWidth: 1
          }]
      },
      options: {
          scales: {
              y: {
                  beginAtZero: true
              }
          }
      }
  });
</script>
{% endblock %}
